/*=======================================
    GENERAL STYLES
==================================================*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Open Sans', sans-serif;
    font-size:16px;
    background-image: url(../img/FOndo.png);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-attachment: fixed; /* Hace que la imagen quede estática al hacer scroll */
    background-position: center; /* Centra la imagen */
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}

h1 {
    padding-top: 35px;
    line-height:50px;
    font-weight:900;
    font-size:30px;
    text-transform:uppercase;
    text-align:center;
    color:#eefb03;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior izquierda */
        2px -2px 0 #000,  /* Sombra superior derecha */
        -2px 2px 0 #000,  /* Sombra inferior izquierda */
        2px 2px 0 #000;   /* Sombra inferior derecha */
}
    h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: #eefb03;
    margin: 5px auto 40px;
    }

.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
    color:#ffffff;
    text-align:center;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior izquierda */
        2px -2px 0 #000,  /* Sombra superior derecha */
        -2px 2px 0 #000,  /* Sombra inferior izquierda */
        2px 2px 0 #000;   /* Sombra inferior derecha */
}
h3 {
    line-height:30px;
    padding-bottom:20px;
    color: #eefb03;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior izquierda */
        2px -2px 0 #000,  /* Sombra superior derecha */
        -2px 2px 0 #000,  /* Sombra inferior izquierda */
        2px 2px 0 #000;   /* Sombra inferior derecha */
}
h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    color: #eefb03;
    font-weight: 900;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior izquierda */
        2px -2px 0 #000,  /* Sombra superior derecha */
        -2px 2px 0 #000,  /* Sombra inferior izquierda */
        2px 2px 0 #000;   /* Sombra inferior derecha */
}
.adjst {
     padding-top: 0px;
}
.c-main {
    color:#eefb03;
}
p {
    padding: 15px;
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
    color: #fff;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior izquierda */
        2px -2px 0 #000,  /* Sombra superior derecha */
        -2px 2px 0 #000,  /* Sombra inferior izquierda */
        2px 2px 0 #000;   /* Sombra inferior derecha */
}

.space-free {
    height:100px;
}

.g-pad-bottom {
    padding-bottom:40px;
}

section {
    padding-top:50px;
    margin-top:50px;
}

.form-control {
        background-color: #fff;
}


.panel-body {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff; /* Texto blanco para contraste */
    border-radius: 8px; /* Bordes redondeados opcionales */
    padding: 15px; /* Espaciado interno para mejor legibilidad */
}


/*=======================================
    HOME SECTION STYLES
==================================================*/

.go-marg {
    margin-top:40px;
    color:#eefb03;
}

#home-sec { 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top:190px;
    padding-bottom:20px;
    color:#ffffff;
    text-shadow: 2px 2px 4px #969595;
}

.head-main {
    display: block; /* Cada texto en una nueva línea */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0px 0; /* Espaciado entre los textos */
    line-height: 1;
    font-size:90px ;
    font-weight:900;
    font-family: 'Montserrat', sans-serif; /* Aplica la fuente Montserrat */
    padding: 0;
    text-transform: capitalize; /* Capitaliza el texto */
}
    

.head-sub-main {
    display: block; /* Cada texto en una nueva línea */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0px 0; /* Espaciado entre los textos */
    line-height: 1;
    font-size:23px ;
    font-weight:500;
    padding: 0;     
}

.btn-unete {
    background-color: #eefb03; /* Fondo amarillo */
    color: #000000; /* Texto negro */
    font-size: 18px; /* Tamaño de fuente */
    padding: 10px 30px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negritas */
    text-transform: uppercase; /* Texto en mayúsculas */
    border: 2px solid #eefb03; /* Borde del mismo color que el fondo */
    cursor: pointer; /* Indicador de clic */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animaciones suaves */
    margin-top: 50px; /* Espaciado superior */
    display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
    text-decoration: none; /* Elimina el subrayado por defecto */
    text-align: center;
    width: 230px;
}

.btn-unete:hover{
    background-color: #ffeb3b; /* Fondo amarillo más claro */
    color: #222222; /* Texto gris oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    text-decoration: none; /* Elimina el subrayado por defecto */

}


/* ===========================================================
   NAVBAR CHANGES   
   ============================================================*/
.navbar {
	font-size: 18px;
}

.navbar-inverse {
    background: #000000 !important;
    min-height: 60px;
    padding-top: 10px;
    padding: 15px 25px;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
	font-weight: bolder;
	font-size: 25px;
    font-weight:900;
	letter-spacing: 2px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: #ffffff;	
}

.navbar-inverse {
    border-color: #000000 !important;
    width: 100%;    
    padding: 25px;
    }

.navbar-nav {
    display: inline-flex; /* Cambia a diseño flexbox */    
    align-items: center;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 0;

    }

.navbar-inverse .navbar-nav > li {
    margin: 0 10px; /* Espaciado entre cada elemento */
    text-align: center;    
}

.navbar-inverse .navbar-nav > li > a {
    /*color: #eefb03;*/
    color: #ffffff; /* Color del texto */
    text-transform: uppercase; /* Texto en mayúsculas */
    padding: 5px 10px; /* Espaciado interno */
    display: block;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #000000 !important;
}

.navbar-header {
    display: flexbox; /* Activa flexbox */
    align-items: center; /* Alinea elementos verticalmente */
    justify-content: center;
}

.navbar-header .navbar-brand {
    padding: 0; /* Elimina el espacio adicional */    
}

.navbar-header .navbar-brand img {
    height: 80px; /* Ajustar tamaño del logo */
    width: auto; /* Mantener proporciones */
    display: block; /* Mostrar en línea */
    
}

.navbar-collapse .nav li.bottom .btn {
    background-color: #eefb03; /* Fondo amarillo */
    color: #000000; /* Texto negro */
    font-size: 18px; /* Tamaño de fuente */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negritas */
    text-transform: uppercase; /* Texto en mayúsculas */
    border: 2px solid #eefb03; /* Borde del mismo color que el fondo */
    cursor: pointer; /* Indicador de clic */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animaciones suaves */
}

.nav__item{
    position: relative;
    height: 58px;
}
.nav__item::after{
    position: absolute;
    background-color: #eefb03;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* Efecto hover */
.navbar-collapse .nav li.bottom .btn:hover {
    background-color: #ffeb3b; /* Fondo amarillo más claro */
    color: #222222; /* Texto gris oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.nav__item:focus:after,
.nav__item:hover:after {
    width: 100%;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

/*=======================================
    PRICE SECTION STYLES
==================================================*/
#price-sec {
        color: #fff;
}
.c-pr-i {
    color:#eefb03;
    padding-left:10px;
    padding-right:10px;
}
.plan {
       
    padding: 0 0 15px 0;
    margin: 30px 0px;
    list-style: none;
    text-align: center;  
}

.plan li {
    padding: 15px 0px;
    color: #f3f3f3;
    font-size: 16px;
    border-bottom:1px dotted #e1e1e1;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior izquierda */
        2px -2px 0 #000,  /* Sombra superior derecha */
        -2px 2px 0 #000,  /* Sombra inferior izquierda */
        2px 2px 0 #000;   /* Sombra inferior derecha */
}


.plan li.plan-head {
    padding: 40px 0px;
    line-height: 35px;
    font-size: 32px;
    font-weight: 600;
    border: none;
    color: #fff;
   }

.plan li.main-price {
    padding: 25px 0px;
    color: #eefb03;
    border: none;
    font-weight: 900;
    font-size: 60px;
}

small {
    font-size: 15px;
    color:#000;
}

/*==========================================
    PORTFOLIO STYLES
    =====================================================*/


.portfolio-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.portfolio-items {
    margin-right: -20px;
}
.portfolio-items > li {
    float: left;
    padding: 0;
    margin: 0;
}

.portfolio-items.col-3 > li {
    width: 33%;
}

.portfolio-item .item-main {
    margin: 0 10px 10px 0;
    text-align: center;
    padding: 10px;
  
  
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item .portfolio-image {
    position: relative;
}
.portfolio-item h5 {
    margin: 0;
    padding: 10px 0 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #eefb03;
    color: #000000;
}
.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
}
.portfolio-item:hover .overlay {
    opacity: 1;
}

/*=======================================
    Contact STYLES
==================================================*/
/* Removed empty ruleset */
.cnt {
    width: 100%;
    padding: 15px;
    min-height: 350px;
   
}

.social-icons {
    align-items: center;
    text-align: center;
}

.social-icons a {
    margin: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    
    display: inline-block;
    width: 45px;
}

.social-icons a:hover {
    opacity: 0.8;
    text-decoration: none;
}


.btn-submit {
    background-color: #eefb03; /* Fondo amarillo */
    color: #000000; /* Texto negro */
    font-size: 13px; /* Tamaño de fuente */
    padding: 10px 30px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negritas */
    text-transform: uppercase; /* Texto en mayúsculas */
    border: 1px solid #eefb03; /* Borde del mismo color que el fondo */
    cursor: pointer; /* Indicador de clic */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animaciones suaves */
    margin-top: 10px; /* Espaciado superior */
    display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
    text-decoration: none; /* Elimina el subrayado por defecto */
    text-align: center;
    width: 130px;
   
}

.btn-submit:hover{
    background-color: #ffeb3b; /* Fondo amarillo más claro */
    color: #222222; /* Texto gris oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    text-decoration: none; /* Elimina el subrayado por defecto */

}
/*=======================================
    LOGIN STYLES
==================================================*/


#content {    
    flex: auto; /* Hace que este contenedor ocupe el espacio disponible */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: start; /* Centra verticalmente */
    padding: 20px; /* Espaciado interno para evitar bordes pegados */
}

.panel-body {
    
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    border-radius: 30px; /* Bordes redondeados */
    padding: 25px; /* Espaciado interno */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 375px; /* Limita el ancho máximo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
}

/*=======================================
    REGISTER STYLES
==================================================*/


#content1 {
    flex: auto; /* Hace que este contenedor ocupe el espacio disponible */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: start; /* Centra verticalmente */
    padding: 20px; /* Espaciado interno para evitar bordes pegados */

}


.panel-body1 {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    border-radius: 30px; /* Bordes redondeados */
    padding: 25px; /* Espaciado interno */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 375px; /* Limita el ancho máximo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
        
}


/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
    font-family:'Open Sans', sans-serif;    
    background-color:#eefb03;
    color:#000000;
    padding:10px 15px;
    text-align:right;    
    width: 100%; /* Asegura que ocupe todo el ancho */
    
    }

/*=======================================
    MEDIA QUERIES
    
    ==================================================*/

@media all and (max-width:640px) and (min-width:381px) {
    .head-main { 
        font-size:28px ;
    }
}
@media all and (max-width:381px) and (min-width:200px) {
    .head-main { 
        font-size:24px ;
    }
}

/* clases y servicios */ 
.servicios {
    display: flex; 
    align-items: center;
    margin-bottom: 20px; /* Espacio entre cada servicio */
}

.serviciosBody{
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}

/* planes */

.btnSeleccionar{
    background-color: #eefb03; /* Fondo amarillo */
    color: #000000; /* Texto negro */
    font-size: 18px; /* Tamaño de fuente */
    padding: 10px 30px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negritas */
    text-transform: uppercase; /* Texto en mayúsculas */
    border: 2px solid #eefb03; /* Borde del mismo color que el fondo */
    cursor: pointer; /* Indicador de clic */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animaciones suaves */
    margin-top: 50px; /* Espaciado superior */
    display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
    text-decoration: none; /* Elimina el subrayado por defecto */
    text-align: center;
    width: 230px;
    border-bottom: 1px dotted #e1e1e1;
}
.btnSeleccionar:hover{
    background-color: #ffeb3b; /* Fondo amarillo más claro */
    color: #222222; /* Texto gris oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    text-decoration: none; /* Elimina el subrayado por defecto */
}
.divli{
    padding: 15px 0px;
    color: #f3f3f3;
    font-size: 16px;
    border-bottom: 1px dotted #e1e1e1;    
}














